<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ny6design.mapper.OrderMapper">
	<resultMap id="BaseResultMap" type="com.ny6design.model.Order">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="productId" property="productid" jdbcType="INTEGER" />
		<result column="amount" property="amount" jdbcType="INTEGER" />
		<result column="cost" property="cost" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="SMALLINT" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="lastUpdateTime" property="lastupdatetime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, productId, amount, cost, status, createTime, lastUpdateTime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_order
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_order
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ny6design.model.Order" useGeneratedKeys="true" keyProperty="id">
		insert into t_order ( productId, amount,
		cost, status, createTime,
		lastUpdateTime)
		values ( #{productid,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER},
		#{cost,jdbcType=DECIMAL}, #{status,jdbcType=SMALLINT}, #{createtime,jdbcType=TIMESTAMP},
		#{lastupdatetime,jdbcType=TIMESTAMP})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.ny6design.model.Order">
		update t_order
		set productId = #{productid,jdbcType=INTEGER},
		amount = #{amount,jdbcType=INTEGER},
		cost = #{cost,jdbcType=DECIMAL},
		status = #{status,jdbcType=SMALLINT},
		createTime = #{createtime,jdbcType=TIMESTAMP},
		lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="getAllOrdersByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		c.id, c.productId, c.amount, c.cost, c.status, c.createTime, c.lastUpdateTime
		from t_shoppingcart a 
		inner join t_cart_order b on a.id = b.cartId
		inner join t_order c on b.orderId=c.id
		where a.userId = #{userId,jdbcType=INTEGER} and c.status =0;
	</select>
</mapper>