<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ny6design.mapper.ProductDescriptionMapper" >
  <resultMap id="ProductDescMap" type="com.ny6design.model.ProductDescription" >
    <id column="language_id" property="languageId" jdbcType="INTEGER" />
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="meta_keywords" property="metaKeywords" jdbcType="VARCHAR" />
    <result column="meta_description" property="metaDescription" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ProductDescWithBLOBs" type="com.ny6design.model.ProductDescription" extends="ProductDescMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    language_id, product_id, name, meta_keywords, meta_description
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectProductDescByPrimaryKey" resultMap="ProductDescWithBLOBs" parameterType="com.ny6design.model.ProductDescriptionKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product_description
    where language_id = #{languageId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ny6design.model.ProductDescriptionKey" >
    delete from t_product_description
    where language_id = #{languageId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ny6design.model.ProductDescription" >
    insert into t_product_description (language_id, product_id, name, 
      meta_keywords, meta_description, description
      )
    values (#{languageId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{metaKeywords,jdbcType=VARCHAR}, #{metaDescription,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ny6design.model.ProductDescription" >
    insert into t_product_description
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="languageId != null" >
        language_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="metaKeywords != null" >
        meta_keywords,
      </if>
      <if test="metaDescription != null" >
        meta_description,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="languageId != null" >
        #{languageId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null" >
        #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null" >
        #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ny6design.model.ProductDescription" >
    update t_product_description
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null" >
        meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null" >
        meta_description = #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where language_id = #{languageId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ny6design.model.ProductDescription" >
    update t_product_description
    set name = #{name,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where language_id = #{languageId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ny6design.model.ProductDescription" >
    update t_product_description
    set name = #{name,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR}
    where language_id = #{languageId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>