<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ny6design.mapper.ProductMapper">

  <resultMap id="BaseResultMap" type="com.ny6design.model.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="stock_status_id" jdbcType="INTEGER" property="stockStatusId" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="manufacturer_id" jdbcType="INTEGER" property="manufacturerId" />
    <result column="shipping" jdbcType="INTEGER" property="shipping" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="tax_class_id" jdbcType="INTEGER" property="taxClassId" />
    <result column="date_available" jdbcType="DATE" property="dateAvailable" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="weight_class_id" jdbcType="INTEGER" property="weightClassId" />
    <result column="length" jdbcType="DECIMAL" property="length" />
    <result column="width" jdbcType="DECIMAL" property="width" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="length_class_id" jdbcType="INTEGER" property="lengthClassId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="date_added" jdbcType="TIMESTAMP" property="dateAdded" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
    <result column="viewed" jdbcType="INTEGER" property="viewed" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="subtract" jdbcType="INTEGER" property="subtract" />
    <result column="minimum" jdbcType="INTEGER" property="minimum" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
  </resultMap>
  
  <sql id="Base_Column_List">
    product_id, model, sku, location, quantity, stock_status_id, image, manufacturer_id, 
    shipping, price, tax_class_id, date_available, weight, weight_class_id, length, width, 
    height, length_class_id, status, date_added, date_modified, viewed, sort_order, subtract, 
    minimum, cost
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>

  <insert id="insertProduct" parameterType="com.ny6design.model.Product" useGeneratedKeys ="true" keyProperty ="productId">
    insert into t_product (model, sku, 
      location, quantity, stock_status_id, 
      image, manufacturer_id, shipping, 
      price, tax_class_id, date_available, 
      weight, weight_class_id, length, 
      width, height, length_class_id, 
      status, date_added, date_modified, 
      viewed, sort_order, subtract, 
      minimum, cost)
    values (#{model}, #{sku}, 
      #{location}, #{quantity}, #{stockStatusId}, 
      #{image}, #{manufacturerId}, #{shipping}, 
      #{price}, #{taxClassId}, #{dateAvailable}, 
      #{weight}, #{weightClassId}, #{length}, 
      #{width}, #{height}, #{lengthClassId}, 
      #{status}, #{dateAdded}, #{dateModified}, 
      #{viewed}, #{sortOrder}, #{subtract}, 
      #{minimum}, #{cost})
  </insert>
  
    <insert id="insertProductDesc" parameterType="com.ny6design.model.ProductDescription" >
    insert into t_product_description (language_id, product_id, name, 
      meta_keywords, meta_description, description
      )
    values (#{languageId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{metaKeywords,jdbcType=VARCHAR}, #{metaDescription,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <insert id="insertProductPrice" parameterType="com.ny6design.model.ProductPrice" useGeneratedKeys ="true" keyProperty ="product_discount_id">
    insert into t_product_price ( product_id, customer_group_id, 
      quantity, priority, price, 
      date_start, date_end)
    values (#{productId}, #{customerGroupId}, 
      #{quantity}, #{priority}, #{price}, 
      #{dateStart}, #{dateEnd})
  </insert>
  
    <insert id="insertProductImage" parameterType="com.ny6design.model.ProductImage" useGeneratedKeys ="true" keyProperty ="product_image_id">
    insert into t_product_image (product_id, image
      )
    values (#{productId}, #{image}
      )
  </insert>
  
    <insert id="insert" parameterType="com.ny6design.model.ProductPrice" useGeneratedKeys ="true" keyProperty ="product_discount_id">
    insert into t_product_price ( product_id, customer_group_id, 
      quantity, priority, price, 
      date_start, date_end)
    values (#{productId}, #{customerGroupId}, 
      #{quantity}, #{priority}, #{price}, 
      #{dateStart}, #{dateEnd})
  </insert>

   <!-- product vs product_desc -->
   <resultMap type="com.ny6design.model.Product" id="pordAndDescAndPrice">
   	<id property="productId" column="product_id"/>
   	<association property="productDesc" column="product_id" javaType="com.ny6design.model.ProductDescription" select="getDesc4Product"/>
   	<collection property="productPriceList" javaType="ArrayList" column="product_id" ofType="com.ny6design.model.ProductPrice" select="getPrice4Product"/>
   </resultMap>
   
   	<select id="getPrice4Product" resultType="com.ny6design.model.ProductPrice">
	  SELECT * FROM t_product_price WHERE product_id = #{product_id}
	</select>
	
	<select id="getDesc4Product" resultType="com.ny6design.model.ProductDescription">
	  SELECT * FROM t_product_description WHERE product_id = #{product_id}
	</select>
	
   <select id="getProductsByCategory" parameterType="long" resultMap="pordAndDescAndPrice">
    SELECT  p.*
	FROM t_product as p, t_product_to_category as pc
	where  pc.product_id=p.product_id
	and pc.category_id= #{categoryId}
   </select>
   
   
   <resultMap type="com.ny6design.model.Product" id="prodDetail">
   	<id property="productId" column="product_id"/>
   	<result property="orderColumnName" column="orderColumnName"/>
   	<result property="orderBy" column="orderBy"/>
   	
   	<association property="categoryId" column="product_id"  select="getCategoryId"/>
   	<association property="productDesc" column="product_id" javaType="com.ny6design.model.ProductDescription" select="getDesc4Product"/>
   	<collection property="productImageList" javaType="ArrayList" column="product_id" ofType="com.ny6design.model.ProductImage" select="getImage4Product"/>
   	<collection property="productPriceList" javaType="ArrayList" column="product_id" ofType="com.ny6design.model.ProductPrice" select="getPrice4Product"/>
   </resultMap>
   <select id="getProductDetail" resultMap="prodDetail">
		select
			*
		from 
			t_product
		where 
			product_id = #{product_id}
   </select>
   <select id="getImage4Product" resultType="com.ny6design.model.ProductImage">
	  SELECT * FROM t_product_image WHERE product_id = #{product_id}
	</select>
   <select id="getCategoryId" resultType="java.lang.Long">
	  select 
	  	pc.category_id as categoryId 
	  from 
	  	t_product p, t_product_to_category pc
	  where 
	  	p.product_id=pc.product_id
		and p.product_id = #{product_id}
	</select>
	
    <select id="getProducts4Admin" resultMap="prodDetail" >
	  SELECT tp.*, tpd.* 
	  FROM t_product tp, t_product_description tpd 
	  where tp.product_id=tpd.product_id
	  order by 
	  <if test="orderColumnName != null" >
        ${orderColumnName} 
      </if>
      <if test="orderBy != null" >
        ${orderBy};
      </if>
	</select>
	
    <select id="getFilterProducts4Admin" resultMap="prodDetail" >
	  SELECT tp.*, tpd.* 
	  FROM t_product tp, t_product_description tpd 
	  where tp.product_id=tpd.product_id
	  <if test="name != null" >
       and tpd.name like concat('%',#{name},'%')
      </if>
      <if test="model != null" >
       and tp.model like concat('%',#{model},'%')
      </if>
      <if test="price != null" >
       and tp.price = #{price}
      </if>
      <if test="quantity != null" >
       and tp.quantity = #{quantity}
      </if>
      <if test="status != null" >
       and tp.status = #{status}
      </if>
      order by date_added desc;
	</select>
	
	
  <delete id="deleteProductById" parameterType="java.lang.Integer">
    delete from t_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteProductDescByProductId" parameterType="java.lang.Integer">
    delete from t_product_description
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteProductImpageByProductId" parameterType="java.lang.Integer">
    delete from t_product_image
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteProductPriceByProductId" parameterType="java.lang.Integer">
    delete from t_product_price
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  
  <update id="updateProductById" parameterType="com.ny6design.model.Product" >
    update t_product 
    set model=#{model}, sku=#{sku}, 
      location=#{location}, quantity=#{quantity}, stock_status_id=#{stockStatusId}, 
      image=#{image}, manufacturer_id=#{manufacturerId}, shipping=#{shipping}, 
      price=#{price}, tax_class_id=#{taxClassId}, date_available=#{dateAvailable}, 
      weight=#{weight}, weight_class_id=#{weightClassId}, length=#{length}, 
      width=#{width}, height=#{height}, length_class_id=#{lengthClassId}, 
      status=#{status}, date_added=#{dateAdded}, date_modified=#{dateModified}, 
      viewed=#{viewed}, sort_order=#{sortOrder}, subtract=#{subtract}, 
      minimum=#{minimum}, cost=#{cost}
    where product_id = #{productId}
  </update>
  <update id="updateProductDescByProductId" parameterType="com.ny6design.model.ProductDescription" >
    update t_product_description
    set name = #{name,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR}
    where language_id = #{languageId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateProductImpageByProductId" parameterType="com.ny6design.model.ProductImage" >
    update t_product_image
    set product_id = #{productId,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR}
    where product_image_id = #{productImageId,jdbcType=INTEGER}
  </update>
  <update id="updateProductPriceByProductId" parameterType="com.ny6design.model.ProductPrice" >
    update t_product_price
    set product_id = #{productId,jdbcType=INTEGER},
      customer_group_id = #{customerGroupId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      date_start = #{dateStart,jdbcType=DATE},
      date_end = #{dateEnd,jdbcType=DATE}
    where product_discount_id = #{productDiscountId,jdbcType=INTEGER}
  </update>
  	
</mapper>