<div class="navbar-form btn-group">
	 #if($null.isNull($userName))
	 
	<button type="button" class="btn btn-success" onclick="login()">Login In</button>
	<button type="button" class="btn btn-default" onclick="doRegister()">Register</button>
	<button type="button" class="btn btn-default" onclick="gotoMyAccount()">My Account</button>
	#else
	<div class="form-group">
	<label style="color: white">Welcome!! $userName</label>
	<button type="button" class="btn btn-default" onclick="loginOut()">Login Out</button>
	<button type="button" class="btn btn-default" onclick="gotoMyAccount()">My Account</button>
	</div>
	#end
	
</div>
<div class="navbar-form btn-group">
	<button type="submit" class="btn btn-info">
		<span class="glyphicon glyphicon-shopping-cart"></span> <span
			class='badge' style='color: red'>12</span>
	</button>
	<button type="submit" class="btn btn-info">
		<span class="glyphicon glyphicon-heart"></span> <span class='badge'>2</span>
	</button>
</div>
<div class="navbar-form btn-group">
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-question-sign"> </span> Help
	</button>
</div>