
<div>
	<ol class="breadcrumb" style="text-align: center; margin: 0px;">
		<li><strong>User Manage</strong></li>
	</ol>
</div>
<div class="row" style="margin: 0px;">
	<div class="col-lg-2  col-md-2" style="margin: 0px; padding: 0px">
		<div class="input-group">
			<span class="input-group-addon">Keywords</span> <input type="text"
				class="form-control" placeholder="Username">
		</div>
	</div>
	<div class="col-lg-8  col-md-8">
		<form class="navbar-form navbar-left"
			style="margin: 0px; padding: 0px">
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-search"> </span> Search
			</button>
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-search"> </span> View All
			</button>
		</form>
	</div>
</div>

<div class="table-responsive" style="padding-top: 10px">

	<table class="table table-hover table-bordered">
		<tr>
			<th style="display: none">userid</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Email</th>
			<th>Telephone</th>
			<th>Country</th>
			<th>state</th>
			<th>address</th>
			<th>Regdate</th>
			<th>Operation</th>
		</tr>
		#foreach($user as $!userList)
		
		<tr>
			<td style="display: none">$user.userid</td>
			<td onclick="editUser(this)"><a>$user.firstname</a></td>
			<td><a>$user.lastname</a></td>
			<td><a>$user.emailaddress</a></td>
			<td><a>$user.telephone</a></td>
			<td>$user.countryDesc</td>
			<td>$user.stateDesc</td>
			<td><a>$user.address</a></td>
			<td>$user.updateTime</td>
			<td><img src="static/img/aa.gif"></td>
		</tr>
		#end
	</table>
</div>
