	  	<div class="nav">
	  	<ol class="breadcrumb" style="margin-left:-15px">
		  <li><a>$!{catergory.parentName}</a></li>
		  <li><a href="#">$!{catergory.name}</a></li>
		  <li class="active">$!{product.productDesc.name}</li>
		</ol>
		<h3>$!{product.productDesc.name}</h3>
		</div>
		  	<div class="col-sm-3">
		  		<img alt="" src="static/img/thumbnail2.jpg" class="img-thumbnail" width="250">
		  	</div>
		  	<div class="col-sm-7">
		  		<div class="table-responsive">
			      <table class="table table-bordered table-striped responsive-utilities table-condensed">
			        <thead>
			          <tr>
			            <th colspan="3" class="text-center">Order More for the Best Prices</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            #getLabelName($product)
			          </tr>
			          <tr>
			            #getLabelValue($product)
			          </tr>
			        </tbody>
			      </table>
			    </div>
		    	<!-- buy & add to wish list -->
			    <div class="panel-group panel">
		    		<div class="form-inline">
		    			<label for="Quantity">Quantity: </label>&nbsp;&nbsp;&nbsp;<input id="Quantity" type="text" name="Quantity" >
		    			<a href="javascript:alert('already add it')"><img alt="" src="static/img/add2cart.gif"></a> Or <a id="add2wishlist">Add to wish list</a>
		    			 
		    		</div>
		    	</div>
	    		<!-- buy & add to wish list end -->
			    
			    
				<div id="detail"  class="panel-group panel">$!{product.productDesc.description}</div>
			    
			    <div class="panel-group panel">
			    	<font color="#CE6D05"> <strong>Email: </strong></font>FOR ANY QUESTION<br>
			    	<font color="#CE6D05"> <strong>Email: </strong></font>Sales@ny6design.com
			    </div>
			    
			    <div class="panel-group panel">
			    	<font color="#CE6D05"> <strong>Approximate Shipping Time: </strong></font>
			    	<br>2-4days *Large Qty order please add more times.
			    </div>

			    
			    <div class="panel-group panel">
			    	<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_preferred_3"></a>
					<a class="addthis_button_preferred_4"></a>
					<a class="addthis_button_preferred_1"></a>
					<a class="addthis_button_preferred_2"></a>
					<a class="addthis_button_compact"></a>
					<a class="addthis_counter addthis_bubble_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f252646f04e60e"></script>
					<!-- AddThis Button END -->
			    </div>
			    
			    <div class="panel-group panel">
				    <label for="Extras:"><font color="#CE6D05">Extras:</font></label>
					<textarea class="form-control" rows="3"></textarea>
				</div>
		  	</div>

#macro(getLabelName $product) 
	#foreach($prodPrice as $!product.productPriceList)
		#if($foreach.count==1 )
			#set ($styleClass="success")
		#elseif($foreach.count==2 )
			#set ($styleClass="warning")
		#elseif($foreach.count==3 )
			#set ($styleClass="danger")
		#end
		<td class='$styleClass'>
			$prodPrice.quantity +
		</td>
	#end 
#end 

#macro(getLabelValue $product) 
	#foreach($prodPrice as $!product.productPriceList)
		#if($foreach.count==1 )
			#set ($styleClass="success")
		#elseif($foreach.count==2 )
			#set ($styleClass="warning")
		#elseif($foreach.count==3 )
			#set ($styleClass="danger")
		#end
		<td class='$styleClass'>
			$numberTool.format("0.00",$prodPrice.price)
		</td>
	#end 
#end 

<script>
$("#add2wishlist").click(function(){
	
	$.ajax({
		url: "/ny6design_web/wishlist/add/"+13+"/"+$!{product.productId},
		success: function(data){
			console.log("success:"+data);			
		}
		
	})
	
})	
</script>

