<div class="container" style="padding-top: 30px;">
	<p class="text-warning">
		<strong>NEW CUSTOMERS</strong>
	</p>
	<hr color=#00ffff SIZE=1000 />
	<p>Please take a moment to complete the form below Important
		notice: Your security and privacy is important to us. We use a trusted
		third party, PayPal, to process all credit card transactions. At no
		time do we store your credit card information on our system, and none
		of our employees have access to your credit card number. Your e-mail
		address will only be used for order and shipment notification
		purposes.</p>
	<p>
		<strong>Profile detail</strong>
	</p>
	<p>
		<strong>PERSONAL INFORMATION</strong>
	</p>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="inputEmail" class="col-sm-2 control-label">Your
				E-mail *</label>
			<div class="col-sm-3">
				<input type="email" class="form-control" id="inputEmail"
					placeholder="abc@gmail.com">
			</div>
			<div class="col-sm-4 control-label" for="inputEmail" style="text-align: left">
				<label id="errorMsg0" style="color: red"></label>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-2 control-label">Password
				*</label>
			<div class="col-sm-3">
				<input type="password" class="form-control" id="inputPassword"
					placeholder="Password">
			</div>
			<div class="col-sm-4 control-label" for="inputPassword" style="text-align: left">
				<label id="errorMsg1" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="inputConfirmedPassword" class="col-sm-2 control-label">PasswordConfirm
				*</label>
			<div class="col-sm-3">
				<input type="password" class="form-control" id="inputConfirmedPassword"
					placeholder="Confirm Password">
			</div>
			<div class="col-sm-4 control-label" for="inputConfirmedPassword" style="text-align: left">
				<label id="errorMsg2" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="firstName" class="col-sm-2 control-label">First
				Name *</label>
			<div class="col-sm-3">
				<input type="input" class="form-control" id="firstName"
					placeholder="FirstName">
			</div>
			<div class="col-sm-4 control-label" for="firstName" style="text-align: left">
				<label id="errorMsg3" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="lastName" class="col-sm-2 control-label">Last
				Name *</label>
			<div class="col-sm-3">
				<input type="input" class="form-control" id="lastName"
					placeholder="LastName">
			</div>
			<div class="col-sm-4 control-label" for="lastName" style="text-align: left">
				<label id="errorMsg4" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="address" class="col-sm-2 control-label">Address *</label>
			<div class="col-sm-3">
				<input type="input" class="form-control" id="address"
					placeholder="Address">
			</div>
			<div class="col-sm-4 control-label" for="address" style="text-align: left">
				<label id="errorMsg5" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="town" class="col-sm-2 control-label">Town *</label>
			<div class="col-sm-3">
				<input type="input" class="form-control" id="town"
					placeholder="Town">
			</div>
			<div class="col-sm-4 control-label" for="town" style="text-align: left">
				<label id="errorMsg6" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="statedId" class="col-sm-2 control-label">State *</label>
			<div class="col-sm-3" id="stateDiv">
				<select class="form-control" id="statedId">
				</select>
			</div>
			<div class="col-sm-4 control-label" for="statedId" style="text-align: left">
				<label id="errorMsg7" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="zipcode" class="col-sm-2 control-label">Zip Code
				*</label>
			<div class="col-sm-3">
				<input type="input" class="form-control" id="zipcode"
					placeholder="Zip Code">
			</div>
			<div class="col-sm-4 control-label" for="zipcode" style="text-align: left">
				<label id="errorMsg8" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="countryId" class="col-sm-2 control-label">Country *</label>
			<div class="col-sm-3" id="countryDiv">
				<select class="form-control" id="countryId">
				</select>
			</div>
			<div class="col-sm-4 control-label" for="countryId" style="text-align: left">
				<label id="errorMsg9" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="telephone" class="col-sm-2 control-label">Telephone
				*</label>
			<div class="col-sm-3">
				<input type="input" class="form-control" id="telephone"
					placeholder="Telephone">
			</div>
			<div class="col-sm-4 control-label" for="telephone" style="text-align: left">
				<label id="errorMsg10" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="fax" class="col-sm-2 control-label">Fax</label>
			<div class="col-sm-3">
				<input type="input" class="form-control input-small" id="fax"
					placeholder="Fax">
			</div>
			<div class="col-sm-4 control-label" for="fax" style="text-align: left">
				<label id="errorMsg11" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="taxId" class="col-sm-2 control-label text-danger">Tax
				Id# (Texas only)</label>
			<div class="col-sm-3">
				<input type="input" class="form-control" id="taxId"
					placeholder="TaxId">
			</div>
			<div class="col-sm-4 control-label" for="taxId" style="text-align: left">
				<label id="errorMsg12" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<label for="hearUs" class="col-sm-2 control-label">How did
				you hear about us? *</label>
			<div class="col-sm-3" id="fromWhere">
				<select class="form-control" id="hearUs">
				</select>
			</div>
			<div class="col-sm-4 control-label" for="fromWhere" style="text-align: left">
				<label id="errorMsg13" style="color: red"></label>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<button type="button" class="btn btn-danger" onclick="register()">Submit to sign
					in</button>
			</div>
		</div>
	</form>

</div>
