<div class="panel panel-default" style="margin: 0px 0px 0px 0px;">
	<div class="panel-heading">
		<p class="text-center">Member Center</p>
	</div>
	<ul class="list-group">
		<li class="list-group-item"><a><p class="text-center">My
					orderlist</p></a></li>
		<li class="list-group-item"><a><p class="text-center">My
					Wishlist</p></a></li>
		<li class="list-group-item"><a><p class="text-center">Order
					Tracking</p></a></li>
		<li class="list-group-item"><a><p class="text-center">Shopping
					Cart</p></a></li>
		<li class="list-group-item"><a><p class="text-center">My
					account</p></a></li>
		<li class="list-group-item"><a onclick="loadAddress()"><p class="text-center">My
					Shipping address</p></a></li>
		<li class="list-group-item"><a onclick="loginOut()"><p class="text-center">Logout</p></a></li>
	</ul>
</div>