
<div class="btn-group" style="margin: 9px 0 5px;">
  <button type="button" class="btn btn-primary" onclick="insertProduct()">Insert</button>
  <button type="button" class="btn btn-warning" onclick="copyProduct()">Copy</button>
  <button type="button" class="btn btn-danger" onclick="delProduct()">Delete</button>
</div>

<table class="table table-bordered">
	<thead>
		<tr class="active">
		  <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'productId\']').prop('checked', this.checked);"></td>
		  <td class="text-center">Image</td>
		  <td class="text-left">
			<a onclick="orderby('name','a_filter_name')" class="ASC">Product Name</a>
		  </td>
		  <td class="text-left">
 		  	<a onclick="orderby('model','a_filter_model')" class="ASC">Model</a><!--<span class="glyphicon glyphicon-chevron-down"></span> -->
		  </td>
		  <td class="text-left">
		  	<a onclick="orderby('price','a_filter_price')" class="ASC">Price</a>
		  </td>
		  <td class="text-right">
		  	<a onclick="orderby('quantity','a_filter_quantity')" class="ASC">Quantity</a>
		  </td>
		  <td class="text-left">
		  	<a onclick="orderby('status','a_filter_status')" class="ASC">Status</a>
		  </td>
		  <td class="text-right">Action</td>
		</tr>
	</thead>
	<tbody>
		<tr class="success">
		  <td></td>
		  <td></td>
		  <td>
<!-- 		  	<input type="text" name="filter_name" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"> -->
			<input type="text" class="form-control" id="filter_name" placeholder="name search">
		  </td>
		  <td>
		  	<input type="text" class="form-control" id="filter_model" placeholder="model search">
<!-- 		  	<input type="text" name="filter_model" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"> -->
		  </td>
		  <td align="text-left"><input type="text" class="form-control" id="filter_price" placeholder="price search"></td>
		  <td align="text-right"><input type="text" class="form-control" id="filter_quantity" placeholder="quantity search"></td>
		  <td>
			<select id="filter_status" class="form-control">
			  <option value="*"></option>
			  <option value="0">Enabled</option>
			  <option value="1">Disabled</option>
			</select>
		  </td>
		  <td align="right"><button type="button" class="btn btn-primary" onclick="productfilter();" >Filter</button></td>
		</tr>
		
		#foreach($product as $!productList)
			#listProduct($product)
		#end
		
	</tbody>
</table>




#macro(listProduct $product) 
<tr>
  <td style="text-align: center;"><input type="checkbox" name="productId[]" value="$!{product.productId}"></td>
  <td class="text-center" style="padding：7px">
  	<div style="width:62px;height:62px"><img src="$!{product.image}" class="img-responsive" alt="Responsive image"></div>
  </td>
  <td class="text-left">$!{product.productDesc.name}</td>
  <td class="text-left">$!{product.model}</td>
  <td class="text-left">$!{product.price}</td>
  <td class="text-right">
  	<!--TBD 需加一些逻辑在这，不同数量，颜色是不同的 -->
  	<span style="color: #008000;">$!{product.quantity}</span>
  </td>
  <td class="text-left">
  #if($product.status==0)
  	Enabled
  #else
  	Disabled
  #end
  </td>
  <td class="right">[ <a href="#" onclick="editProduct('$!{product.productId}')">Edit</a> ]</td>
</tr>
#end 


