<div class="row">
	<table class="table table-bordered">
		<thead>
			<tr>
			  <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);"></td>
			  <td class="text-center">Image</td>
			  <td class="text-left">
				<a href="http://demo.opencart.com/admin/index.php?route=catalog/product&amp;token=4fa4fd21323c6815c58a099e63c7b849&amp;sort=pd.name&amp;order=ASC">Product Name</a>
			  </td>
			  <td class="text-left"><a href="">Model</a>
			  </td>
			  <td class="text-left"><a href="order=ASC">Price</a>
			  </td>
			  <td class="text-right"><a href="order=ASC" class="desc">Quantity</a>
			  </td>
			  <td class="text-left"><a href="order=ASC">Status</a>
			  </td>
			  <td class="text-right">Action</td>
			</tr>
		</thead>
		<tbody>
			<tr class="filter">
			  <td></td>
			  <td></td>
			  <td><input type="text" name="filter_name" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></td>
			  <td><input type="text" name="filter_model" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></td>
			  <td align="text-left"><input type="text" name="filter_price" value="" size="8"></td>
			  <td align="text-right"><input type="text" name="filter_quantity" value="" style="text-align: right;"></td>
			  <td>
				<select name="filter_status">
				  <option value="*"></option>
				  <option value="1">Enabled</option>
				  <option value="0">Disabled</option>
				</select>
			  </td>
			  <td align="right"><a onclick="filter();" class="button">Filter</a></td>
			</tr>
		
			#foreach($product as $!productList)
				#listProduct($product)
			#end
		</tbody>
	</table>
</div>

#macro(listProduct $product) 
<tr>
  <td style="text-align: center;"><input type="checkbox" name="selected[]" value="$!{product.productId}"></td>
  <td class="text-center" style="padding：7px">
  	<div style="width:62px;height:62px"><img src="$!{product.image}" class="img-responsive" alt="Responsive image"></div>
  </td>
  <td class="text-left">$!{product.productDesc.name}</td>
  <td class="text-left">$!{product.model}</td>
  <td class="text-left">$!{product.price}</td>
  <td class="text-right">
  	<!--TBD 需加一些逻辑在这，不同数量，颜色是不同的 -->
  	<span style="color: #008000;">$!{product.quantity}</span>
  </td>
  <td class="text-left">
  #if($product.status==0)
  	Enabled
  #else
  	Disabled
  #end
  </td>
  <td class="right">[ <a href="http://demo.opencart.com/admin/index.php?route=catalog/product/update&amp;token=4fa4fd21323c6815c58a099e63c7b849&amp;product_id=47&amp;sort=p.quantity&amp;order=DESC">Edit</a> ]</td>
</tr>
#end 


