<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] [%p] [%t] [%c{2}](%F:%L) [%x] %m%n" />
		</layout>
	</appender>

	<logger name="com.morningstar.productservices" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="stdout" />
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="stdout" />
	</root>



</log4j:configuration>