<div style="padding: 10px 0px 0px 10px;">
	<p class="text-warning">
		<strong>Home :: (--Check Out--) :: Your order invoice</strong>
	</p>
	<p class="text-info" style="padding-left: 10px;"> Product information</p>
	<div style="min-height: 50px;">
	
	<table
		class="table table-bordered">
		<tr>
			<td style="width:5%">Code</td>
			<td style="width:60%">Description</td>
			<td style="width:15%">Limited QTY</td>
			<td style="width:15%">Unit Price</td>
			<td style="width:10%">Quantity</td>
			<td style="width:10%">Total</td>
			<td style="width:10%"> </td>
		</tr>
		
		#foreach($orderDetail as $!cart.orders)
		<tr>
			<td>$!orderDetail.product.model</td>
			<td>$!orderDetail.product.productDesc.name</td>
			<td>$!orderDetail.product.quantity</td>
			<td>$$!orderDetail.product.productPriceList[0].price</td>
			<td><input id="Quantity" style="width:30px;" type="text" name="Quantity" value="$!{orderDetail.order.amount}"></td>
			<td>$!orderDetail.order.cost</td>
			<td><button type="button" class="btn btn-default" id="btn_$!orderDetail.order.id">Delete</button></td>
			
		</tr>
		<script>
			var btn = "#btn_" + $!orderDetail.order.id
			$(btn).click(function() {
				$.ajax({
					url : "shoppingcart/remove/$!orderDetail.order.id",
					data:{
						url: "shoppingcart/checkout"
					},
					success : function(data) {
						console.log(data);
						$("#productList").html(data);
						$.ajax({
							url : 'shoppingcart/orderCount',
							success : function(data, status) {
								$("#shopping-cart-count").html(data);
							}
						});
					}
				})
			})
		</script>
		#end
	</table>
	
	</div>
	<div  class="row" >
		<div class="col-lg-8  col-md-8" >&nbsp;</div>
		<div class="col-lg-4  col-md-4" style="text-align:right; "><p class="text-info" style="padding-bottom: 10px; border-bottom: 1px solid orange">Subtotal: $$!cart.subtotal</p></div>
	</div>
	<div style="text-align: right;padding: 5px 0px 5px 0px;" >
		<button type="button" class="btn btn-primary" id="btn_$!orderDetail.order.id">Recalculate</button>
	</div>
	<div style="border: 1px solid orange; font-size:12px; font-weight: lighter;">
		#foreach($rule as $!rules)
			<span class="help-block" style="color: #CE6D05; ">$!rule.description</p></span>
		#end
	</div>
	
	<div  class="row" style="text-align: right;padding-top: 5px;">
		<input type="hidden" value="$!user.userid" id="">
		<div class="col-lg-4  col-md-4" >&nbsp;</div>
		<div class="col-lg-2  col-md-2"><a data-role="button" class="btn btn-default" style="width: 100%;color:#CE6D05; font-weight: bolder;" onclick="openShoppingCart()">Back</a></div>
		<div class="col-lg-2  col-md-2"><button type="button" class="btn btn-default" style="width: 100%;color:#CE6D05; font-weight: bolder;" onclick="gotoShip()">Next</button></div>
		<div class="col-lg-4  col-md-4">&nbsp;</div>
	</div>

</div>
