.panel-heading {
	padding: 0px;
	vertical-align: middle;
}

.list-group-item {
	padding: 0px;
}

.text-center {
	padding-top: 5px;
}

table tr th {
	text-align: center;
	background-color: #F5F5F5;
}

table tr td {
	text-align: center;
}

.form-group-margin{
	margin-left: 0px;
	margin-right: 0px;
}

a{
	cursor: pointer;
}