body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.container {
	min-width: 970px;
}

.logo {
	background-image: url(../img/logo.png);
	height: 100px;
}

.well {
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%)
		;
	background-image: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
	padding: 0 5 10 5;
	display: block;
}

.header-img {
	background-image: url(../img/left_12.jpg);
	display: block;
	height: 28px;
	margin: 5px 2px 5px 2px;
}

.ui-accordion .ui-accordion-content {
	
}

.ui-accordion .ui-accordion-content ul {
	list-style: none;
	margin: 0px;
	padding: 0;
	text-wrap: break-all;
}

.ui-accordion .ui-accordion-content ul li {
	
}

.ui-accordion .ui-accordion-content ul li a {
	text-decoration: initial;
	cursor: pointer;
}

.ui-accordion .ui-accordion-content ul li a:hover {
	color: orange
}

.thumbnail img.img-thumbnail {
	width: 200px; //
	max-height: 200px;
}