body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.container {
	min-width: 800px;
}

.logo {
	background-image: url(../img/logo.png);
	height: 100px;
}

.well {
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
	padding: 0 5 10 5;
	display: block;
}

td {
	text-align: center;
	vertical-align: middle;
}

td img {
	height: 50px;
	width: 80px;
}

.header-img {
	background-image: url(../img/left_12.jpg);
	display: block;
	height: 28px;
	margin: 5px 2px 5px 2px;
}

#mnCategory {
	max-width: 200px;
}

#ads{
	min-height: 185px;
}

.ui-accordion .ui-accordion-content {
	
}

.ui-accordion .ui-accordion-content ul {
	list-style: none;
	margin: 0px;
	padding: 0;
	text-wrap: break-all;
}

.ui-accordion .ui-accordion-content ul li {
	
}

.ui-accordion .ui-accordion-content ul li a {
	text-decoration: initial;
	cursor: pointer;
}

.ui-accordion .ui-accordion-content ul li a:hover {
	color: orange
}

.thumbnail img.img-thumbnail {
	width: 200px; //
	max-height: 200px;
}

.control-label {
	width: 200px;
	font-size: 9px;
}

.form-group {
	margin-bottom: 10px;
}

a {
	cursor: pointer;
}

#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#addQuestion {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	display: none;
	padding-bottom: 2px;
	width: 500px;
	z-index: 11000;
	left: 50%;
	margin-left: -202px;
	opacity: 1;
	position: fixed;
	top: 200px;
}

#addQuestion-header {
	background: url("../img/hd-bg.png") repeat scroll 0 0 transparent;
	border-bottom: 1px solid #CCCCCC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 8px 8px 4px;
	margin-bottom: 8px;
}

.modal_close {
	background: url("../img/modal_close.png") repeat scroll 0 0 transparent;
	display: block;
	height: 14px;
	position: absolute;
	right: 12px;
	top: 12px;
	width: 14px;
	z-index: 2;
}

#addQuestion label {
	width: 100px;
}

#addFeedback {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	display: none;
	padding-bottom: 2px;
	width: 500px;
	z-index: 11000;
	left: 50%;
	margin-left: -202px;
	opacity: 1;
	position: fixed;
	top: 200px;
}

#addFeedback-header {
	background: url("../img/hd-bg.png") repeat scroll 0 0 transparent;
	border-bottom: 1px solid #CCCCCC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 8px 8px 4px;
	margin-bottom: 8px;
}

#addFeedback label {
	width: 100px;
}

#addAddress-header{
	background: url("../img/hd-bg.png") repeat scroll 0 0 transparent;
	border-bottom: 1px solid #CCCCCC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 8px 8px 4px;
	margin-bottom: 8px;
}

#addAddress{
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	display: none;
	padding-bottom: 2px;
	width: 500px;
	z-index: 11000;
	left: 50%;
	margin-left: -202px;
	opacity: 1;
	position: fixed;
	top: 200px;
}

#addAddress label {
	width: 100px;
}

